@import "../../variable";

.vue-input-tag-div {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  cursor: text;
  text-align: left;
  -webkit-appearance: textfield;
}

.vue-input-tag-div .input-tag {
  background-color: $fc-color;
  border-radius: 2px;
  color: $white;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  margin: 2px;
}

.vue-input-tag-div > .input-tag > .remove {
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  margin: 2px;
  color: $white;

  &:before {
    content: "X";
  }

  &:hover {
    text-decoration: none;
  }
}

.vue-input-tag-div .new-tag {
  background: transparent;
  border: 0;
  color: $dark-gray;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  min-width: 250px;
  width: auto;
  max-width: 100%;
  padding: 5px;
  margin: 2px;
}

.vue-input-tag-div.read-only {
  cursor: default;
}
