@import "variable";

/* ------------------------------------------------
  Global Tag CSS
------------------------------------------------ */
// Common Body
body {
  background: $bg-color;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

a {
  color: $sub-fc-color;

  &:active {
    color: $fc-color;
  }

}

// Button Css
button {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  color: $fc-font-color;
}

// Main Function Btn
button.fc-btn {
  background: $fc-color;
  color: $fc-font-color;
  outline: 0;

  &:hover {
    background: $fc-color-hover;
    font-weight: bold;
  }

  &:active {
    box-shadow: none;
    margin-top: 5px;
  }
}

textarea.auto-size {
  width: 100%;
  height: 100%;
  overflow: scroll;
  min-height: 300px;
  box-sizing: border-box;
  line-height: 1.5;
  padding: 15px 15px;
  border-radius: 3px;
  transition: box-shadow 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

// Sub Function Btn
/* ------------------------------------------------
  Colorful Btn - BackGround CSS
------------------------------------------------ */
@each $color in $colors {
  $key: nth($color, 1);
  $value: nth($color, 2);

  .#{'btn-'}#{$key} {
    color: $white;
    background-color: $value;

    &:hover {
      background: darken($value, 5%);
      font-weight: bold;
    }

    &:active {
      background-color: darken($white, 30%);
    }

    &:disabled {
      cursor: not-allowed;
      background: #dddddd;
    }
  }

  .#{'btn-edge-'}#{$key} {
    border-color: $value;
    color: $value;
    background-color: $white;

    &:hover {
      background: darken($value, 5%);
      color: darken($white, 5%);
      font-weight: 800;
    }

    &:active {
      background-color: darken($white, 30%);
    }

    &:disabled {
      cursor: not-allowed;
      background: #dddddd;
    }
  }

  .#{'background-'}#{$key} {
    color: $white;
    background: $value;
  }
}

/* ------------------------------------------------
  Global Class CSS
------------------------------------------------ */
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.gradient-fc {
  background: linear-gradient(180deg, #66a5ff, #0069ff);
  color: $bg-color;

  button.fc-btn {
    background: $bg-color;
    color: $sub-fc-font-color;
    border-radius: 5px;
    font-weight: bold;

    &:hover {
      background: $sub-fc-color-hover;
      font-weight: bold;
    }

    &:active {
      box-shadow: none;
      margin-top: 5px;
    }
  }
}

/* ----------------
  Vue Router SCSS
------------------*/
.router-link-exact-active {
  font-weight: 700;
  color: $light-white;
}

.router-item {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

/* ------------------------
  Global ID CSS
------------------------ */
#app {
  font-family: $font-main-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------------
  Customize Element-UI CSS
------------------------ */
