/* ------------------------
  Bootstrap Table
------------------------ */

.table-hover tr:hover {
    cursor: pointer;
}

.form-group > label {
  font-weight: bold;
}

.jumbotron {
  padding: 20px;
}
