@import "../../assets/scss/variable";

.footer {
  -ms-flex: none;
  flex: none;
  background-color: $dark-black;
}

.footer-div {
  color: $bg-color;
}

.footer-list-div > p {
  list-style-type: none;
  margin: 3px;
}

.footer-list-div > p > a {
  color: $active-color;
  word-break: break-all;
}
