@import "../../assets/scss/variable";

/* ------------------------
  Header CSS
------------------------ */
.navbar-brand {
  font-weight: 800;
}

.nav-item > li {
  color: $active-color !important;
}

.dropdown-item {
  & .active {
    color: $ocean !important;
  }
}
